<div class="emoji-groups">
    <i class="cm-emoji-picker"
       ng-class="{'{{group.class}}': true, 'active-group': (group.short_name === selectedGroup.short_name)}"
       ng-repeat="group in ::groups"
       ng-click="changeGroup(group)">
    </i>
</div>
<div class="emoji-container" emoji-scroll scroll-event="::onScroll(group)">
    <input class="emoji-search"
           ng-model="search"
           placeholder="Search..."
           ng-change="onSearchEmoji(search)"
           ng-model-options="{
                'debounce': {
                    'default': 200,
                    'blur': 0
                }
            }"
    />
    <div id="{{::groupPrefix}}-{{group.short_name}}"
         class="emoji-groups"
         data-group="{{group.short_name}}"
         ng-repeat="group in filtredGroups"
    >
        <div class="emoji-group-label" ng-bind="group.name" ng-show="group.emoji.length > 0">
        </div>
        <i ng-repeat="emoji in group.emoji"
           class="cm-emoji-picker"
           ng-class="::toClassName(emoji)"
           ng-click="append(emoji)">
        </i>
    </div>
</div>
