.emoji1f600{background-position:-28px -0px;}
.emoji1f603{background-position:-56px -0px;}
.emoji1f604{background-position:-84px -0px;}
.emoji1f601{background-position:-112px -0px;}
.emoji1f606{background-position:-140px -0px;}
.emoji1f605{background-position:-168px -0px;}
.emoji1f602{background-position:-196px -0px;}
.emoji263a{background-position:-224px -0px;}
.emoji1f60a{background-position:-252px -0px;}
.emoji1f607{background-position:-280px -0px;}
.emoji1f642{background-position:-308px -0px;}
.emoji1f609{background-position:-336px -0px;}
.emoji1f60c{background-position:-364px -0px;}
.emoji1f60d{background-position:-392px -0px;}
.emoji1f618{background-position:-420px -0px;}
.emoji1f617{background-position:-448px -0px;}
.emoji1f619{background-position:-476px -0px;}
.emoji1f61a{background-position:-504px -0px;}
.emoji1f60b{background-position:-532px -0px;}
.emoji1f61c{background-position:-560px -0px;}
.emoji1f61d{background-position:-588px -0px;}
.emoji1f61b{background-position:-616px -0px;}
.emoji1f60e{background-position:-644px -0px;}
.emoji1f60f{background-position:-672px -0px;}
.emoji1f612{background-position:-700px -0px;}
.emoji1f61e{background-position:-728px -0px;}
.emoji1f614{background-position:-756px -0px;}
.emoji1f61f{background-position:-784px -0px;}
.emoji1f615{background-position:-812px -0px;}
.emoji1f623{background-position:-840px -0px;}
.emoji1f616{background-position:-868px -0px;}
.emoji1f62b{background-position:-896px -0px;}
.emoji1f629{background-position:-924px -0px;}
.emoji1f624{background-position:-952px -0px;}
.emoji1f620{background-position:-980px -0px;}
.emoji1f621{background-position:-1008px -0px;}
.emoji1f636{background-position:-1036px -0px;}
.emoji1f610{background-position:-1064px -0px;}
.emoji1f611{background-position:-1092px -0px;}
.emoji1f62f{background-position:-1120px -0px;}
.emoji1f626{background-position:-1148px -0px;}
.emoji1f627{background-position:-1176px -0px;}
.emoji1f62e{background-position:-1204px -0px;}
.emoji1f632{background-position:-1232px -0px;}
.emoji1f635{background-position:-1260px -0px;}
.emoji1f633{background-position:-1288px -0px;}
.emoji1f631{background-position:-1316px -0px;}
.emoji1f628{background-position:-1344px -0px;}
.emoji1f630{background-position:-1372px -0px;}
.emoji1f622{background-position:-1400px -0px;}
.emoji1f625{background-position:-1428px -0px;}
.emoji1f62d{background-position:-0px -32px;}
.emoji1f613{background-position:-28px -32px;}
.emoji1f62a{background-position:-56px -32px;}
.emoji1f634{background-position:-84px -32px;}
.emoji1f62c{background-position:-112px -32px;}
.emoji1f637{background-position:-140px -32px;}
.emoji1f608{background-position:-168px -32px;}
.emoji1f47f{background-position:-196px -32px;}
.emoji1f479{background-position:-224px -32px;}
.emoji1f47a{background-position:-252px -32px;}
.emoji1f4a9{background-position:-280px -32px;}
.emoji1f47b{background-position:-308px -32px;}
.emoji1f480{background-position:-336px -32px;}
.emoji1f47d{background-position:-364px -32px;}
.emoji1f47e{background-position:-392px -32px;}
.emoji1f383{background-position:-420px -32px;}
.emoji1f63a{background-position:-448px -32px;}
.emoji1f638{background-position:-476px -32px;}
.emoji1f639{background-position:-504px -32px;}
.emoji1f63b{background-position:-532px -32px;}
.emoji1f63c{background-position:-560px -32px;}
.emoji1f63d{background-position:-588px -32px;}
.emoji1f640{background-position:-616px -32px;}
.emoji1f63f{background-position:-644px -32px;}
.emoji1f63e{background-position:-672px -32px;}
.emoji1f450{background-position:-700px -32px;}
.emoji1f64c{background-position:-728px -32px;}
.emoji1f44f{background-position:-756px -32px;}
.emoji1f64f{background-position:-784px -32px;}
.emoji1f44d{background-position:-812px -32px;}
.emoji1f44e{background-position:-840px -32px;}
.emoji1f44a{background-position:-868px -32px;}
.emoji270a{background-position:-896px -32px;}
.emoji270c{background-position:-924px -32px;}
.emoji1f44c{background-position:-952px -32px;}
.emoji1f448{background-position:-980px -32px;}
.emoji1f449{background-position:-1008px -32px;}
.emoji1f446{background-position:-1036px -32px;}
.emoji1f447{background-position:-1064px -32px;}
.emoji261d{background-position:-1092px -32px;}
.emoji270b{background-position:-1120px -32px;}
.emoji1f44b{background-position:-1148px -32px;}
.emoji1f4aa{background-position:-1176px -32px;}
.emoji1f485{background-position:-1204px -32px;}
.emoji1f48d{background-position:-1232px -32px;}
.emoji1f484{background-position:-1260px -32px;}
.emoji1f48b{background-position:-1288px -32px;}
.emoji1f444{background-position:-1316px -32px;}
.emoji1f445{background-position:-1344px -32px;}
.emoji1f442{background-position:-1372px -32px;}
.emoji1f443{background-position:-1400px -32px;}
.emoji1f463{background-position:-1428px -32px;}
.emoji1f440{background-position:-0px -64px;}
.emoji1f464{background-position:-28px -64px;}
.emoji1f465{background-position:-56px -64px;}
.emoji1f476{background-position:-84px -64px;}
.emoji1f466{background-position:-112px -64px;}
.emoji1f467{background-position:-140px -64px;}
.emoji1f468{background-position:-168px -64px;}
.emoji1f469{background-position:-196px -64px;}
.emoji1f471{background-position:-224px -64px;}
.emoji1f474{background-position:-252px -64px;}
.emoji1f475{background-position:-280px -64px;}
.emoji1f472{background-position:-308px -64px;}
.emoji1f473{background-position:-336px -64px;}
.emoji1f46e{background-position:-364px -64px;}
.emoji1f477{background-position:-392px -64px;}
.emoji1f482{background-position:-420px -64px;}
.emoji1f385{background-position:-448px -64px;}
.emoji1f478{background-position:-476px -64px;}
.emoji1f470{background-position:-504px -64px;}
.emoji1f47c{background-position:-532px -64px;}
.emoji1f647{background-position:-560px -64px;}
.emoji1f481{background-position:-588px -64px;}
.emoji1f645{background-position:-616px -64px;}
.emoji1f646{background-position:-644px -64px;}
.emoji1f64b{background-position:-672px -64px;}
.emoji1f64e{background-position:-700px -64px;}
.emoji1f64d{background-position:-728px -64px;}
.emoji1f487{background-position:-756px -64px;}
.emoji1f486{background-position:-784px -64px;}
.emoji1f483{background-position:-812px -64px;}
.emoji1f46f{background-position:-840px -64px;}
.emoji1f6b6{background-position:-868px -64px;}
.emoji1f3c3{background-position:-896px -64px;}
.emoji1f46b{background-position:-924px -64px;}
.emoji1f46d{background-position:-952px -64px;}
.emoji1f46c{background-position:-980px -64px;}
.emoji1f491{background-position:-1008px -64px;}
.emoji1f469-200d-2764-fe0f-200d-1f469{background-position:-1036px -64px;}
.emoji1f468-200d-2764-fe0f-200d-1f468{background-position:-1064px -64px;}
.emoji1f48f{background-position:-1092px -64px;}
.emoji1f469-200d-2764-fe0f-200d-1f48b-200d-1f469{background-position:-1120px -64px;}
.emoji1f468-200d-2764-fe0f-200d-1f48b-200d-1f468{background-position:-1148px -64px;}
.emoji1f46a{background-position:-1176px -64px;}
.emoji1f468-200d-1f469-200d-1f467{background-position:-1204px -64px;}
.emoji1f468-200d-1f469-200d-1f467-200d-1f466{background-position:-1232px -64px;}
.emoji1f468-200d-1f469-200d-1f466-200d-1f466{background-position:-1260px -64px;}
.emoji1f468-200d-1f469-200d-1f467-200d-1f467{background-position:-1288px -64px;}
.emoji1f469-200d-1f469-200d-1f466{background-position:-1316px -64px;}
.emoji1f469-200d-1f469-200d-1f467{background-position:-1344px -64px;}
.emoji1f469-200d-1f469-200d-1f467-200d-1f466{background-position:-1372px -64px;}
.emoji1f469-200d-1f469-200d-1f466-200d-1f466{background-position:-1400px -64px;}
.emoji1f469-200d-1f469-200d-1f467-200d-1f467{background-position:-1428px -64px;}
.emoji1f468-200d-1f468-200d-1f466{background-position:-0px -96px;}
.emoji1f468-200d-1f468-200d-1f467{background-position:-28px -96px;}
.emoji1f468-200d-1f468-200d-1f467-200d-1f466{background-position:-56px -96px;}
.emoji1f468-200d-1f468-200d-1f466-200d-1f466{background-position:-84px -96px;}
.emoji1f468-200d-1f468-200d-1f467-200d-1f467{background-position:-112px -96px;}
.emoji1f45a{background-position:-140px -96px;}
.emoji1f455{background-position:-168px -96px;}
.emoji1f456{background-position:-196px -96px;}
.emoji1f454{background-position:-224px -96px;}
.emoji1f457{background-position:-252px -96px;}
.emoji1f459{background-position:-280px -96px;}
.emoji1f458{background-position:-308px -96px;}
.emoji1f460{background-position:-336px -96px;}
.emoji1f461{background-position:-364px -96px;}
.emoji1f462{background-position:-392px -96px;}
.emoji1f45e{background-position:-420px -96px;}
.emoji1f45f{background-position:-448px -96px;}
.emoji1f452{background-position:-476px -96px;}
.emoji1f3a9{background-position:-504px -96px;}
.emoji1f393{background-position:-532px -96px;}
.emoji1f451{background-position:-560px -96px;}
.emoji1f392{background-position:-588px -96px;}
.emoji1f45d{background-position:-616px -96px;}
.emoji1f45b{background-position:-644px -96px;}
.emoji1f45c{background-position:-672px -96px;}
.emoji1f4bc{background-position:-700px -96px;}
.emoji1f453{background-position:-728px -96px;}
.emoji1f302{background-position:-756px -96px;}
.emoji1f436{background-position:-784px -96px;}
.emoji1f431{background-position:-812px -96px;}
.emoji1f42d{background-position:-840px -96px;}
.emoji1f439{background-position:-868px -96px;}
.emoji1f430{background-position:-896px -96px;}
.emoji1f43b{background-position:-924px -96px;}
.emoji1f43c{background-position:-952px -96px;}
.emoji1f428{background-position:-980px -96px;}
.emoji1f42f{background-position:-1008px -96px;}
.emoji1f42e{background-position:-1036px -96px;}
.emoji1f437{background-position:-1064px -96px;}
.emoji1f43d{background-position:-1092px -96px;}
.emoji1f438{background-position:-1120px -96px;}
.emoji1f435{background-position:-1148px -96px;}
.emoji1f648{background-position:-1176px -96px;}
.emoji1f649{background-position:-1204px -96px;}
.emoji1f64a{background-position:-1232px -96px;}
.emoji1f412{background-position:-1260px -96px;}
.emoji1f414{background-position:-1288px -96px;}
.emoji1f427{background-position:-1316px -96px;}
.emoji1f426{background-position:-1344px -96px;}
.emoji1f424{background-position:-1372px -96px;}
.emoji1f423{background-position:-1400px -96px;}
.emoji1f425{background-position:-1428px -96px;}
.emoji1f43a{background-position:-0px -128px;}
.emoji1f417{background-position:-28px -128px;}
.emoji1f434{background-position:-56px -128px;}
.emoji1f41d{background-position:-84px -128px;}
.emoji1f41b{background-position:-112px -128px;}
.emoji1f40c{background-position:-140px -128px;}
.emoji1f41a{background-position:-168px -128px;}
.emoji1f41e{background-position:-196px -128px;}
.emoji1f41c{background-position:-224px -128px;}
.emoji1f422{background-position:-252px -128px;}
.emoji1f40d{background-position:-280px -128px;}
.emoji1f419{background-position:-308px -128px;}
.emoji1f420{background-position:-336px -128px;}
.emoji1f41f{background-position:-364px -128px;}
.emoji1f421{background-position:-392px -128px;}
.emoji1f42c{background-position:-420px -128px;}
.emoji1f433{background-position:-448px -128px;}
.emoji1f40b{background-position:-476px -128px;}
.emoji1f40a{background-position:-504px -128px;}
.emoji1f406{background-position:-532px -128px;}
.emoji1f405{background-position:-560px -128px;}
.emoji1f403{background-position:-588px -128px;}
.emoji1f402{background-position:-616px -128px;}
.emoji1f404{background-position:-644px -128px;}
.emoji1f42a{background-position:-672px -128px;}
.emoji1f42b{background-position:-700px -128px;}
.emoji1f418{background-position:-728px -128px;}
.emoji1f40e{background-position:-756px -128px;}
.emoji1f416{background-position:-784px -128px;}
.emoji1f410{background-position:-812px -128px;}
.emoji1f40f{background-position:-840px -128px;}
.emoji1f411{background-position:-868px -128px;}
.emoji1f415{background-position:-896px -128px;}
.emoji1f429{background-position:-924px -128px;}
.emoji1f408{background-position:-952px -128px;}
.emoji1f413{background-position:-980px -128px;}
.emoji1f407{background-position:-1008px -128px;}
.emoji1f401{background-position:-1036px -128px;}
.emoji1f400{background-position:-1064px -128px;}
.emoji1f43e{background-position:-1092px -128px;}
.emoji1f409{background-position:-1120px -128px;}
.emoji1f432{background-position:-1148px -128px;}
.emoji1f335{background-position:-1176px -128px;}
.emoji1f384{background-position:-1204px -128px;}
.emoji1f332{background-position:-1232px -128px;}
.emoji1f333{background-position:-1260px -128px;}
.emoji1f334{background-position:-1288px -128px;}
.emoji1f331{background-position:-1316px -128px;}
.emoji1f33f{background-position:-1344px -128px;}
.emoji1f340{background-position:-1372px -128px;}
.emoji1f38d{background-position:-1400px -128px;}
.emoji1f38b{background-position:-1428px -128px;}
.emoji1f343{background-position:-0px -160px;}
.emoji1f342{background-position:-28px -160px;}
.emoji1f341{background-position:-56px -160px;}
.emoji1f344{background-position:-84px -160px;}
.emoji1f33e{background-position:-112px -160px;}
.emoji1f490{background-position:-140px -160px;}
.emoji1f337{background-position:-168px -160px;}
.emoji1f339{background-position:-196px -160px;}
.emoji1f33b{background-position:-224px -160px;}
.emoji1f33c{background-position:-252px -160px;}
.emoji1f338{background-position:-280px -160px;}
.emoji1f33a{background-position:-308px -160px;}
.emoji1f30e{background-position:-336px -160px;}
.emoji1f30d{background-position:-364px -160px;}
.emoji1f30f{background-position:-392px -160px;}
.emoji1f315{background-position:-420px -160px;}
.emoji1f316{background-position:-448px -160px;}
.emoji1f317{background-position:-476px -160px;}
.emoji1f318{background-position:-504px -160px;}
.emoji1f311{background-position:-532px -160px;}
.emoji1f312{background-position:-560px -160px;}
.emoji1f313{background-position:-588px -160px;}
.emoji1f314{background-position:-616px -160px;}
.emoji1f31a{background-position:-644px -160px;}
.emoji1f31d{background-position:-672px -160px;}
.emoji1f31e{background-position:-700px -160px;}
.emoji1f31b{background-position:-728px -160px;}
.emoji1f31c{background-position:-756px -160px;}
.emoji1f319{background-position:-784px -160px;}
.emoji1f4ab{background-position:-812px -160px;}
.emoji2b50{background-position:-840px -160px;}
.emoji1f31f{background-position:-868px -160px;}
.emoji2728{background-position:-896px -160px;}
.emoji26a1{background-position:-924px -160px;}
.emoji1f525{background-position:-952px -160px;}
.emoji1f4a5{background-position:-980px -160px;}
.emoji2600{background-position:-1008px -160px;}
.emoji26c5{background-position:-1036px -160px;}
.emoji1f308{background-position:-1064px -160px;}
.emoji2601{background-position:-1092px -160px;}
.emoji26c4{background-position:-1120px -160px;}
.emoji2744{background-position:-1148px -160px;}
.emoji1f4a8{background-position:-1176px -160px;}
.emoji1f30a{background-position:-1204px -160px;}
.emoji1f4a7{background-position:-1232px -160px;}
.emoji1f4a6{background-position:-1260px -160px;}
.emoji2614{background-position:-1288px -160px;}
.emoji1f34f{background-position:-1316px -160px;}
.emoji1f34e{background-position:-1344px -160px;}
.emoji1f350{background-position:-1372px -160px;}
.emoji1f34a{background-position:-1400px -160px;}
.emoji1f34b{background-position:-1428px -160px;}
.emoji1f34c{background-position:-0px -192px;}
.emoji1f349{background-position:-28px -192px;}
.emoji1f347{background-position:-56px -192px;}
.emoji1f353{background-position:-84px -192px;}
.emoji1f348{background-position:-112px -192px;}
.emoji1f352{background-position:-140px -192px;}
.emoji1f351{background-position:-168px -192px;}
.emoji1f34d{background-position:-196px -192px;}
.emoji1f345{background-position:-224px -192px;}
.emoji1f346{background-position:-252px -192px;}
.emoji1f33d{background-position:-280px -192px;}
.emoji1f360{background-position:-308px -192px;}
.emoji1f330{background-position:-336px -192px;}
.emoji1f36f{background-position:-364px -192px;}
.emoji1f35e{background-position:-392px -192px;}
.emoji1f373{background-position:-420px -192px;}
.emoji1f364{background-position:-448px -192px;}
.emoji1f357{background-position:-476px -192px;}
.emoji1f356{background-position:-504px -192px;}
.emoji1f355{background-position:-532px -192px;}
.emoji1f354{background-position:-560px -192px;}
.emoji1f35f{background-position:-588px -192px;}
.emoji1f35d{background-position:-616px -192px;}
.emoji1f35c{background-position:-644px -192px;}
.emoji1f372{background-position:-672px -192px;}
.emoji1f365{background-position:-700px -192px;}
.emoji1f363{background-position:-728px -192px;}
.emoji1f371{background-position:-756px -192px;}
.emoji1f35b{background-position:-784px -192px;}
.emoji1f35a{background-position:-812px -192px;}
.emoji1f359{background-position:-840px -192px;}
.emoji1f358{background-position:-868px -192px;}
.emoji1f362{background-position:-896px -192px;}
.emoji1f361{background-position:-924px -192px;}
.emoji1f367{background-position:-952px -192px;}
.emoji1f368{background-position:-980px -192px;}
.emoji1f366{background-position:-1008px -192px;}
.emoji1f370{background-position:-1036px -192px;}
.emoji1f382{background-position:-1064px -192px;}
.emoji1f36e{background-position:-1092px -192px;}
.emoji1f36d{background-position:-1120px -192px;}
.emoji1f36c{background-position:-1148px -192px;}
.emoji1f36b{background-position:-1176px -192px;}
.emoji1f369{background-position:-1204px -192px;}
.emoji1f36a{background-position:-1232px -192px;}
.emoji1f37c{background-position:-1260px -192px;}
.emoji2615{background-position:-1288px -192px;}
.emoji1f375{background-position:-1316px -192px;}
.emoji1f376{background-position:-1344px -192px;}
.emoji1f37a{background-position:-1372px -192px;}
.emoji1f37b{background-position:-1400px -192px;}
.emoji1f377{background-position:-1428px -192px;}
.emoji1f378{background-position:-0px -224px;}
.emoji1f379{background-position:-28px -224px;}
.emoji1f374{background-position:-56px -224px;}
.emoji26bd{background-position:-84px -224px;}
.emoji1f3c0{background-position:-112px -224px;}
.emoji1f3c8{background-position:-140px -224px;}
.emoji26be{background-position:-168px -224px;}
.emoji1f3be{background-position:-196px -224px;}
.emoji1f3c9{background-position:-224px -224px;}
.emoji1f3b1{background-position:-252px -224px;}
.emoji26f3{background-position:-280px -224px;}
.emoji1f3a3{background-position:-308px -224px;}
.emoji1f3bf{background-position:-336px -224px;}
.emoji1f3c2{background-position:-364px -224px;}
.emoji1f3c4{background-position:-392px -224px;}
.emoji1f3ca{background-position:-420px -224px;}
.emoji1f6a3{background-position:-448px -224px;}
.emoji1f3c7{background-position:-476px -224px;}
.emoji1f6b4{background-position:-504px -224px;}
.emoji1f6b5{background-position:-532px -224px;}
.emoji1f3bd{background-position:-560px -224px;}
.emoji1f3c6{background-position:-588px -224px;}
.emoji1f3ab{background-position:-616px -224px;}
.emoji1f3aa{background-position:-644px -224px;}
.emoji1f3ad{background-position:-672px -224px;}
.emoji1f3a8{background-position:-700px -224px;}
.emoji1f3ac{background-position:-728px -224px;}
.emoji1f3a4{background-position:-756px -224px;}
.emoji1f3a7{background-position:-784px -224px;}
.emoji1f3bc{background-position:-812px -224px;}
.emoji1f3b9{background-position:-840px -224px;}
.emoji1f3b7{background-position:-868px -224px;}
.emoji1f3ba{background-position:-896px -224px;}
.emoji1f3b8{background-position:-924px -224px;}
.emoji1f3bb{background-position:-952px -224px;}
.emoji1f3b2{background-position:-980px -224px;}
.emoji1f3af{background-position:-1008px -224px;}
.emoji1f3b3{background-position:-1036px -224px;}
.emoji1f3ae{background-position:-1064px -224px;}
.emoji1f3b0{background-position:-1092px -224px;}
.emoji1f697{background-position:-1120px -224px;}
.emoji1f695{background-position:-1148px -224px;}
.emoji1f699{background-position:-1176px -224px;}
.emoji1f68c{background-position:-1204px -224px;}
.emoji1f68e{background-position:-1232px -224px;}
.emoji1f693{background-position:-1260px -224px;}
.emoji1f691{background-position:-1288px -224px;}
.emoji1f692{background-position:-1316px -224px;}
.emoji1f690{background-position:-1344px -224px;}
.emoji1f69a{background-position:-1372px -224px;}
.emoji1f69b{background-position:-1400px -224px;}
.emoji1f69c{background-position:-1428px -224px;}
.emoji1f6b2{background-position:-0px -256px;}
.emoji1f6a8{background-position:-28px -256px;}
.emoji1f694{background-position:-56px -256px;}
.emoji1f68d{background-position:-84px -256px;}
.emoji1f698{background-position:-112px -256px;}
.emoji1f696{background-position:-140px -256px;}
.emoji1f6a1{background-position:-168px -256px;}
.emoji1f6a0{background-position:-196px -256px;}
.emoji1f69f{background-position:-224px -256px;}
.emoji1f683{background-position:-252px -256px;}
.emoji1f68b{background-position:-280px -256px;}
.emoji1f69e{background-position:-308px -256px;}
.emoji1f69d{background-position:-336px -256px;}
.emoji1f684{background-position:-364px -256px;}
.emoji1f685{background-position:-392px -256px;}
.emoji1f688{background-position:-420px -256px;}
.emoji1f682{background-position:-448px -256px;}
.emoji1f686{background-position:-476px -256px;}
.emoji1f687{background-position:-504px -256px;}
.emoji1f68a{background-position:-532px -256px;}
.emoji1f689{background-position:-560px -256px;}
.emoji1f681{background-position:-588px -256px;}
.emoji2708{background-position:-616px -256px;}
.emoji1f680{background-position:-644px -256px;}
.emoji1f4ba{background-position:-672px -256px;}
.emoji26f5{background-position:-700px -256px;}
.emoji1f6a4{background-position:-728px -256px;}
.emoji1f6a2{background-position:-756px -256px;}
.emoji2693{background-position:-784px -256px;}
.emoji1f6a7{background-position:-812px -256px;}
.emoji26fd{background-position:-840px -256px;}
.emoji1f68f{background-position:-868px -256px;}
.emoji1f6a6{background-position:-896px -256px;}
.emoji1f6a5{background-position:-924px -256px;}
.emoji1f5ff{background-position:-952px -256px;}
.emoji1f5fd{background-position:-980px -256px;}
.emoji26f2{background-position:-1008px -256px;}
.emoji1f5fc{background-position:-1036px -256px;}
.emoji1f3f0{background-position:-1064px -256px;}
.emoji1f3ef{background-position:-1092px -256px;}
.emoji1f3a1{background-position:-1120px -256px;}
.emoji1f3a2{background-position:-1148px -256px;}
.emoji1f3a0{background-position:-1176px -256px;}
.emoji1f5fb{background-position:-1204px -256px;}
.emoji1f30b{background-position:-1232px -256px;}
.emoji26fa{background-position:-1260px -256px;}
.emoji1f3ed{background-position:-1288px -256px;}
.emoji1f3e0{background-position:-1316px -256px;}
.emoji1f3e1{background-position:-1344px -256px;}
.emoji1f3e2{background-position:-1372px -256px;}
.emoji1f3ec{background-position:-1400px -256px;}
.emoji1f3e3{background-position:-1428px -256px;}
.emoji1f3e4{background-position:-0px -288px;}
.emoji1f3e5{background-position:-28px -288px;}
.emoji1f3e6{background-position:-56px -288px;}
.emoji1f3e8{background-position:-84px -288px;}
.emoji1f3ea{background-position:-112px -288px;}
.emoji1f3eb{background-position:-140px -288px;}
.emoji1f3e9{background-position:-168px -288px;}
.emoji1f492{background-position:-196px -288px;}
.emoji26ea{background-position:-224px -288px;}
.emoji1f5fe{background-position:-252px -288px;}
.emoji1f391{background-position:-280px -288px;}
.emoji1f305{background-position:-308px -288px;}
.emoji1f304{background-position:-336px -288px;}
.emoji1f320{background-position:-364px -288px;}
.emoji1f387{background-position:-392px -288px;}
.emoji1f386{background-position:-420px -288px;}
.emoji1f307{background-position:-448px -288px;}
.emoji1f306{background-position:-476px -288px;}
.emoji1f303{background-position:-504px -288px;}
.emoji1f30c{background-position:-532px -288px;}
.emoji1f309{background-position:-560px -288px;}
.emoji1f301{background-position:-588px -288px;}
.emoji231a{background-position:-616px -288px;}
.emoji1f4f1{background-position:-644px -288px;}
.emoji1f4f2{background-position:-672px -288px;}
.emoji1f4bb{background-position:-700px -288px;}
.emoji1f4bd{background-position:-728px -288px;}
.emoji1f4be{background-position:-756px -288px;}
.emoji1f4bf{background-position:-784px -288px;}
.emoji1f4c0{background-position:-812px -288px;}
.emoji1f4fc{background-position:-840px -288px;}
.emoji1f4f7{background-position:-868px -288px;}
.emoji1f4f9{background-position:-896px -288px;}
.emoji1f3a5{background-position:-924px -288px;}
.emoji1f4de{background-position:-952px -288px;}
.emoji260e{background-position:-980px -288px;}
.emoji1f4df{background-position:-1008px -288px;}
.emoji1f4e0{background-position:-1036px -288px;}
.emoji1f4fa{background-position:-1064px -288px;}
.emoji1f4fb{background-position:-1092px -288px;}
.emoji23f0{background-position:-1120px -288px;}
.emoji231b{background-position:-1148px -288px;}
.emoji23f3{background-position:-1176px -288px;}
.emoji1f4e1{background-position:-1204px -288px;}
.emoji1f50b{background-position:-1232px -288px;}
.emoji1f50c{background-position:-1260px -288px;}
.emoji1f4a1{background-position:-1288px -288px;}
.emoji1f526{background-position:-1316px -288px;}
.emoji1f4b8{background-position:-1344px -288px;}
.emoji1f4b5{background-position:-1372px -288px;}
.emoji1f4b4{background-position:-1400px -288px;}
.emoji1f4b6{background-position:-1428px -288px;}
.emoji1f4b7{background-position:-0px -320px;}
.emoji1f4b0{background-position:-28px -320px;}
.emoji1f4b3{background-position:-56px -320px;}
.emoji1f48e{background-position:-84px -320px;}
.emoji1f527{background-position:-112px -320px;}
.emoji1f528{background-position:-140px -320px;}
.emoji1f529{background-position:-168px -320px;}
.emoji1f52b{background-position:-196px -320px;}
.emoji1f4a3{background-position:-224px -320px;}
.emoji1f52a{background-position:-252px -320px;}
.emoji1f6ac{background-position:-280px -320px;}
.emoji1f52e{background-position:-308px -320px;}
.emoji1f488{background-position:-336px -320px;}
.emoji1f52d{background-position:-364px -320px;}
.emoji1f52c{background-position:-392px -320px;}
.emoji1f48a{background-position:-420px -320px;}
.emoji1f489{background-position:-448px -320px;}
.emoji1f6bd{background-position:-476px -320px;}
.emoji1f6b0{background-position:-504px -320px;}
.emoji1f6bf{background-position:-532px -320px;}
.emoji1f6c1{background-position:-560px -320px;}
.emoji1f6c0{background-position:-588px -320px;}
.emoji1f511{background-position:-616px -320px;}
.emoji1f6aa{background-position:-644px -320px;}
.emoji1f381{background-position:-672px -320px;}
.emoji1f388{background-position:-700px -320px;}
.emoji1f38f{background-position:-728px -320px;}
.emoji1f380{background-position:-756px -320px;}
.emoji1f38a{background-position:-784px -320px;}
.emoji1f389{background-position:-812px -320px;}
.emoji1f38e{background-position:-840px -320px;}
.emoji1f3ee{background-position:-868px -320px;}
.emoji1f390{background-position:-896px -320px;}
.emoji2709{background-position:-924px -320px;}
.emoji1f4e9{background-position:-952px -320px;}
.emoji1f4e8{background-position:-980px -320px;}
.emoji1f4e7{background-position:-1008px -320px;}
.emoji1f48c{background-position:-1036px -320px;}
.emoji1f4e5{background-position:-1064px -320px;}
.emoji1f4e4{background-position:-1092px -320px;}
.emoji1f4e6{background-position:-1120px -320px;}
.emoji1f4ea{background-position:-1148px -320px;}
.emoji1f4eb{background-position:-1176px -320px;}
.emoji1f4ec{background-position:-1204px -320px;}
.emoji1f4ed{background-position:-1232px -320px;}
.emoji1f4ee{background-position:-1260px -320px;}
.emoji1f4ef{background-position:-1288px -320px;}
.emoji1f4dc{background-position:-1316px -320px;}
.emoji1f4c3{background-position:-1344px -320px;}
.emoji1f4c4{background-position:-1372px -320px;}
.emoji1f4d1{background-position:-1400px -320px;}
.emoji1f4ca{background-position:-1428px -320px;}
.emoji1f4c8{background-position:-0px -352px;}
.emoji1f4c9{background-position:-28px -352px;}
.emoji1f4c6{background-position:-56px -352px;}
.emoji1f4c5{background-position:-84px -352px;}
.emoji1f4c7{background-position:-112px -352px;}
.emoji1f4cb{background-position:-140px -352px;}
.emoji1f4c1{background-position:-168px -352px;}
.emoji1f4c2{background-position:-196px -352px;}
.emoji1f4f0{background-position:-224px -352px;}
.emoji1f4d3{background-position:-252px -352px;}
.emoji1f4d4{background-position:-280px -352px;}
.emoji1f4d2{background-position:-308px -352px;}
.emoji1f4d5{background-position:-336px -352px;}
.emoji1f4d7{background-position:-364px -352px;}
.emoji1f4d8{background-position:-392px -352px;}
.emoji1f4d9{background-position:-420px -352px;}
.emoji1f4da{background-position:-448px -352px;}
.emoji1f4d6{background-position:-476px -352px;}
.emoji1f516{background-position:-504px -352px;}
.emoji1f517{background-position:-532px -352px;}
.emoji1f4ce{background-position:-560px -352px;}
.emoji1f4d0{background-position:-588px -352px;}
.emoji1f4cf{background-position:-616px -352px;}
.emoji1f4cc{background-position:-644px -352px;}
.emoji1f4cd{background-position:-672px -352px;}
.emoji2702{background-position:-700px -352px;}
.emoji2712{background-position:-728px -352px;}
.emoji1f4dd{background-position:-756px -352px;}
.emoji270f{background-position:-784px -352px;}
.emoji1f50d{background-position:-812px -352px;}
.emoji1f50e{background-position:-840px -352px;}
.emoji1f50f{background-position:-868px -352px;}
.emoji1f510{background-position:-896px -352px;}
.emoji1f512{background-position:-924px -352px;}
.emoji1f513{background-position:-952px -352px;}
.emoji2764{background-position:-980px -352px;}
.emoji1f49b{background-position:-1008px -352px;}
.emoji1f49a{background-position:-1036px -352px;}
.emoji1f499{background-position:-1064px -352px;}
.emoji1f49c{background-position:-1092px -352px;}
.emoji1f494{background-position:-1120px -352px;}
.emoji1f495{background-position:-1148px -352px;}
.emoji1f49e{background-position:-1176px -352px;}
.emoji1f493{background-position:-1204px -352px;}
.emoji1f497{background-position:-1232px -352px;}
.emoji1f496{background-position:-1260px -352px;}
.emoji1f498{background-position:-1288px -352px;}
.emoji1f49d{background-position:-1316px -352px;}
.emoji1f49f{background-position:-1344px -352px;}
.emoji1f52f{background-position:-1372px -352px;}
.emoji26ce{background-position:-1400px -352px;}
.emoji2648{background-position:-1428px -352px;}
.emoji2649{background-position:-0px -384px;}
.emoji264a{background-position:-28px -384px;}
.emoji264b{background-position:-56px -384px;}
.emoji264c{background-position:-84px -384px;}
.emoji264d{background-position:-112px -384px;}
.emoji264e{background-position:-140px -384px;}
.emoji264f{background-position:-168px -384px;}
.emoji2650{background-position:-196px -384px;}
.emoji2651{background-position:-224px -384px;}
.emoji2652{background-position:-252px -384px;}
.emoji2653{background-position:-280px -384px;}
.emoji1f194{background-position:-308px -384px;}
.emoji1f251{background-position:-336px -384px;}
.emoji1f4f4{background-position:-364px -384px;}
.emoji1f4f3{background-position:-392px -384px;}
.emoji1f236{background-position:-420px -384px;}
.emoji1f21a{background-position:-448px -384px;}
.emoji1f238{background-position:-476px -384px;}
.emoji1f23a{background-position:-504px -384px;}
.emoji1f237{background-position:-532px -384px;}
.emoji2734{background-position:-560px -384px;}
.emoji1f19a{background-position:-588px -384px;}
.emoji1f4ae{background-position:-616px -384px;}
.emoji1f250{background-position:-644px -384px;}
.emoji3299{background-position:-672px -384px;}
.emoji3297{background-position:-700px -384px;}
.emoji1f234{background-position:-728px -384px;}
.emoji1f235{background-position:-756px -384px;}
.emoji1f239{background-position:-784px -384px;}
.emoji1f232{background-position:-812px -384px;}
.emoji1f170{background-position:-840px -384px;}
.emoji1f171{background-position:-868px -384px;}
.emoji1f18e{background-position:-896px -384px;}
.emoji1f191{background-position:-924px -384px;}
.emoji1f17e{background-position:-952px -384px;}
.emoji1f198{background-position:-980px -384px;}
.emoji274c{background-position:-1008px -384px;}
.emoji2b55{background-position:-1036px -384px;}
.emoji26d4{background-position:-1064px -384px;}
.emoji1f4db{background-position:-1092px -384px;}
.emoji1f6ab{background-position:-1120px -384px;}
.emoji1f4af{background-position:-1148px -384px;}
.emoji1f4a2{background-position:-1176px -384px;}
.emoji2668{background-position:-1204px -384px;}
.emoji1f6b7{background-position:-1232px -384px;}
.emoji1f6af{background-position:-1260px -384px;}
.emoji1f6b3{background-position:-1288px -384px;}
.emoji1f6b1{background-position:-1316px -384px;}
.emoji1f51e{background-position:-1344px -384px;}
.emoji1f4f5{background-position:-1372px -384px;}
.emoji1f6ad{background-position:-1400px -384px;}
.emoji2757{background-position:-1428px -384px;}
.emoji2755{background-position:-0px -416px;}
.emoji2753{background-position:-28px -416px;}
.emoji2754{background-position:-56px -416px;}
.emoji203c{background-position:-84px -416px;}
.emoji2049{background-position:-112px -416px;}
.emoji1f505{background-position:-140px -416px;}
.emoji1f506{background-position:-168px -416px;}
.emoji303d{background-position:-196px -416px;}
.emoji26a0{background-position:-224px -416px;}
.emoji1f6b8{background-position:-252px -416px;}
.emoji1f531{background-position:-280px -416px;}
.emoji1f530{background-position:-308px -416px;}
.emoji267b{background-position:-336px -416px;}
.emoji2705{background-position:-364px -416px;}
.emoji1f22f{background-position:-392px -416px;}
.emoji1f4b9{background-position:-420px -416px;}
.emoji2747{background-position:-448px -416px;}
.emoji2733{background-position:-476px -416px;}
.emoji274e{background-position:-504px -416px;}
.emoji1f310{background-position:-532px -416px;}
.emoji1f4a0{background-position:-560px -416px;}
.emoji24c2{background-position:-588px -416px;}
.emoji1f300{background-position:-616px -416px;}
.emoji1f4a4{background-position:-644px -416px;}
.emoji1f3e7{background-position:-672px -416px;}
.emoji1f6be{background-position:-700px -416px;}
.emoji267f{background-position:-728px -416px;}
.emoji1f17f{background-position:-756px -416px;}
.emoji1f233{background-position:-784px -416px;}
.emoji1f202{background-position:-812px -416px;}
.emoji1f6c2{background-position:-840px -416px;}
.emoji1f6c3{background-position:-868px -416px;}
.emoji1f6c4{background-position:-896px -416px;}
.emoji1f6c5{background-position:-924px -416px;}
.emoji1f6b9{background-position:-952px -416px;}
.emoji1f6ba{background-position:-980px -416px;}
.emoji1f6bc{background-position:-1008px -416px;}
.emoji1f6bb{background-position:-1036px -416px;}
.emoji1f6ae{background-position:-1064px -416px;}
.emoji1f3a6{background-position:-1092px -416px;}
.emoji1f4f6{background-position:-1120px -416px;}
.emoji1f201{background-position:-1148px -416px;}
.emoji1f523{background-position:-1176px -416px;}
.emoji2139{background-position:-1204px -416px;}
.emoji1f524{background-position:-1232px -416px;}
.emoji1f521{background-position:-1260px -416px;}
.emoji1f520{background-position:-1288px -416px;}
.emoji1f196{background-position:-1316px -416px;}
.emoji1f197{background-position:-1344px -416px;}
.emoji1f199{background-position:-1372px -416px;}
.emoji1f192{background-position:-1400px -416px;}
.emoji1f195{background-position:-1428px -416px;}
.emoji1f193{background-position:-0px -448px;}
.emoji30-20e3{background-position:-28px -448px;}
.emoji31-20e3{background-position:-56px -448px;}
.emoji32-20e3{background-position:-84px -448px;}
.emoji33-20e3{background-position:-112px -448px;}
.emoji34-20e3{background-position:-140px -448px;}
.emoji35-20e3{background-position:-168px -448px;}
.emoji36-20e3{background-position:-196px -448px;}
.emoji37-20e3{background-position:-224px -448px;}
.emoji38-20e3{background-position:-252px -448px;}
.emoji39-20e3{background-position:-280px -448px;}
.emoji1f51f{background-position:-308px -448px;}
.emoji1f522{background-position:-336px -448px;}
.emoji23-20e3{background-position:-364px -448px;}
.emoji25b6{background-position:-392px -448px;}
.emoji23e9{background-position:-420px -448px;}
.emoji23ea{background-position:-448px -448px;}
.emoji23eb{background-position:-476px -448px;}
.emoji23ec{background-position:-504px -448px;}
.emoji25c0{background-position:-532px -448px;}
.emoji1f53c{background-position:-560px -448px;}
.emoji1f53d{background-position:-588px -448px;}
.emoji27a1{background-position:-616px -448px;}
.emoji2b05{background-position:-644px -448px;}
.emoji2b06{background-position:-672px -448px;}
.emoji2b07{background-position:-700px -448px;}
.emoji2197{background-position:-728px -448px;}
.emoji2198{background-position:-756px -448px;}
.emoji2199{background-position:-784px -448px;}
.emoji2196{background-position:-812px -448px;}
.emoji2195{background-position:-840px -448px;}
.emoji2194{background-position:-868px -448px;}
.emoji21aa{background-position:-896px -448px;}
.emoji21a9{background-position:-924px -448px;}
.emoji2934{background-position:-952px -448px;}
.emoji2935{background-position:-980px -448px;}
.emoji1f500{background-position:-1008px -448px;}
.emoji1f501{background-position:-1036px -448px;}
.emoji1f502{background-position:-1064px -448px;}
.emoji1f504{background-position:-1092px -448px;}
.emoji1f503{background-position:-1120px -448px;}
.emoji1f3b5{background-position:-1148px -448px;}
.emoji1f3b6{background-position:-1176px -448px;}
.emoji2795{background-position:-1204px -448px;}
.emoji2796{background-position:-1232px -448px;}
.emoji2797{background-position:-1260px -448px;}
.emoji2716{background-position:-1288px -448px;}
.emoji1f4b2{background-position:-1316px -448px;}
.emoji1f4b1{background-position:-1344px -448px;}
.emoji2122{background-position:-1372px -448px;}
.emojia9{background-position:-1400px -448px;}
.emojiae{background-position:-1428px -448px;}
.emoji3030{background-position:-0px -480px;}
.emoji27b0{background-position:-28px -480px;}
.emoji27bf{background-position:-56px -480px;}
.emoji1f51a{background-position:-84px -480px;}
.emoji1f519{background-position:-112px -480px;}
.emoji1f51b{background-position:-140px -480px;}
.emoji1f51d{background-position:-168px -480px;}
.emoji1f51c{background-position:-196px -480px;}
.emoji2714{background-position:-224px -480px;}
.emoji2611{background-position:-252px -480px;}
.emoji1f518{background-position:-280px -480px;}
.emoji26aa{background-position:-308px -480px;}
.emoji26ab{background-position:-336px -480px;}
.emoji1f534{background-position:-364px -480px;}
.emoji1f535{background-position:-392px -480px;}
.emoji1f53a{background-position:-420px -480px;}
.emoji1f53b{background-position:-448px -480px;}
.emoji1f538{background-position:-476px -480px;}
.emoji1f539{background-position:-504px -480px;}
.emoji1f536{background-position:-532px -480px;}
.emoji1f537{background-position:-560px -480px;}
.emoji1f533{background-position:-588px -480px;}
.emoji1f532{background-position:-616px -480px;}
.emoji25aa{background-position:-644px -480px;}
.emoji25ab{background-position:-672px -480px;}
.emoji25fe{background-position:-700px -480px;}
.emoji25fd{background-position:-728px -480px;}
.emoji25fc{background-position:-756px -480px;}
.emoji25fb{background-position:-784px -480px;}
.emoji2b1b{background-position:-812px -480px;}
.emoji2b1c{background-position:-840px -480px;}
.emoji1f508{background-position:-868px -480px;}
.emoji1f507{background-position:-896px -480px;}
.emoji1f509{background-position:-924px -480px;}
.emoji1f50a{background-position:-952px -480px;}
.emoji1f514{background-position:-980px -480px;}
.emoji1f515{background-position:-1008px -480px;}
.emoji1f4e3{background-position:-1036px -480px;}
.emoji1f4e2{background-position:-1064px -480px;}
.emoji1f4ac{background-position:-1092px -480px;}
.emoji1f4ad{background-position:-1120px -480px;}
.emoji2660{background-position:-1148px -480px;}
.emoji2663{background-position:-1176px -480px;}
.emoji2665{background-position:-1204px -480px;}
.emoji2666{background-position:-1232px -480px;}
.emoji1f0cf{background-position:-1260px -480px;}
.emoji1f3b4{background-position:-1288px -480px;}
.emoji1f004{background-position:-1316px -480px;}
.emoji1f550{background-position:-1344px -480px;}
.emoji1f551{background-position:-1372px -480px;}
.emoji1f552{background-position:-1400px -480px;}
.emoji1f553{background-position:-1428px -480px;}
.emoji1f554{background-position:-0px -512px;}
.emoji1f555{background-position:-28px -512px;}
.emoji1f556{background-position:-56px -512px;}
.emoji1f557{background-position:-84px -512px;}
.emoji1f558{background-position:-112px -512px;}
.emoji1f559{background-position:-140px -512px;}
.emoji1f55a{background-position:-168px -512px;}
.emoji1f55b{background-position:-196px -512px;}
.emoji1f55c{background-position:-224px -512px;}
.emoji1f55d{background-position:-252px -512px;}
.emoji1f55e{background-position:-280px -512px;}
.emoji1f55f{background-position:-308px -512px;}
.emoji1f560{background-position:-336px -512px;}
.emoji1f561{background-position:-364px -512px;}
.emoji1f562{background-position:-392px -512px;}
.emoji1f563{background-position:-420px -512px;}
.emoji1f564{background-position:-448px -512px;}
.emoji1f565{background-position:-476px -512px;}
.emoji1f566{background-position:-504px -512px;}
.emoji1f567{background-position:-532px -512px;}
.emoji1f3c1{background-position:-560px -512px;}
.emoji1f6a9{background-position:-588px -512px;}
.emoji1f1e6-1f1eb{background-position:-616px -512px;}
.emoji1f1e6-1f1fd{background-position:-644px -512px;}
.emoji1f1e6-1f1f1{background-position:-672px -512px;}
.emoji1f1e9-1f1ff{background-position:-700px -512px;}
.emoji1f1e6-1f1f8{background-position:-728px -512px;}
.emoji1f1e6-1f1e9{background-position:-756px -512px;}
.emoji1f1e6-1f1f4{background-position:-784px -512px;}
.emoji1f1e6-1f1ee{background-position:-812px -512px;}
.emoji1f1e6-1f1f6{background-position:-840px -512px;}
.emoji1f1e6-1f1ec{background-position:-868px -512px;}
.emoji1f1e6-1f1f7{background-position:-896px -512px;}
.emoji1f1e6-1f1f2{background-position:-924px -512px;}
.emoji1f1e6-1f1fc{background-position:-952px -512px;}
.emoji1f1e6-1f1fa{background-position:-980px -512px;}
.emoji1f1e6-1f1f9{background-position:-1008px -512px;}
.emoji1f1e6-1f1ff{background-position:-1036px -512px;}
.emoji1f1e7-1f1f8{background-position:-1064px -512px;}
.emoji1f1e7-1f1ed{background-position:-1092px -512px;}
.emoji1f1e7-1f1e9{background-position:-1120px -512px;}
.emoji1f1e7-1f1e7{background-position:-1148px -512px;}
.emoji1f1e7-1f1fe{background-position:-1176px -512px;}
.emoji1f1e7-1f1ea{background-position:-1204px -512px;}
.emoji1f1e7-1f1ff{background-position:-1232px -512px;}
.emoji1f1e7-1f1ef{background-position:-1260px -512px;}
.emoji1f1e7-1f1f2{background-position:-1288px -512px;}
.emoji1f1e7-1f1f9{background-position:-1316px -512px;}
.emoji1f1e7-1f1f4{background-position:-1344px -512px;}
.emoji1f1e7-1f1f6{background-position:-1372px -512px;}
.emoji1f1e7-1f1e6{background-position:-1400px -512px;}
.emoji1f1e7-1f1fc{background-position:-1428px -512px;}
.emoji1f1e7-1f1f7{background-position:-0px -544px;}
.emoji1f1ee-1f1f4{background-position:-28px -544px;}
.emoji1f1fb-1f1ec{background-position:-56px -544px;}
.emoji1f1e7-1f1ec{background-position:-84px -544px;}
.emoji1f1e7-1f1eb{background-position:-112px -544px;}
.emoji1f1e7-1f1ee{background-position:-140px -544px;}
.emoji1f1e8-1f1fb{background-position:-168px -544px;}
.emoji1f1f0-1f1ed{background-position:-196px -544px;}
.emoji1f1e8-1f1f2{background-position:-224px -544px;}
.emoji1f1e8-1f1e6{background-position:-252px -544px;}
.emoji1f1ee-1f1e8{background-position:-280px -544px;}
.emoji1f1f0-1f1fe{background-position:-308px -544px;}
.emoji1f1e8-1f1eb{background-position:-336px -544px;}
.emoji1f1f9-1f1e9{background-position:-364px -544px;}
.emoji1f1e8-1f1f1{background-position:-392px -544px;}
.emoji1f1e8-1f1f3{background-position:-420px -544px;}
.emoji1f1e8-1f1fd{background-position:-448px -544px;}
.emoji1f1e8-1f1e8{background-position:-476px -544px;}
.emoji1f1e8-1f1f4{background-position:-504px -544px;}
.emoji1f1f0-1f1f2{background-position:-532px -544px;}
.emoji1f1e8-1f1ec{background-position:-560px -544px;}
.emoji1f1e8-1f1e9{background-position:-588px -544px;}
.emoji1f1e8-1f1f0{background-position:-616px -544px;}
.emoji1f1e8-1f1f7{background-position:-644px -544px;}
.emoji1f1e8-1f1ee{background-position:-672px -544px;}
.emoji1f1ed-1f1f7{background-position:-700px -544px;}
.emoji1f1e8-1f1fa{background-position:-728px -544px;}
.emoji1f1e8-1f1fc{background-position:-756px -544px;}
.emoji1f1e8-1f1fe{background-position:-784px -544px;}
.emoji1f1e8-1f1ff{background-position:-812px -544px;}
.emoji1f1e9-1f1f0{background-position:-840px -544px;}
.emoji1f1e9-1f1ef{background-position:-868px -544px;}
.emoji1f1e9-1f1f2{background-position:-896px -544px;}
.emoji1f1e9-1f1f4{background-position:-924px -544px;}
.emoji1f1ea-1f1e8{background-position:-952px -544px;}
.emoji1f1ea-1f1ec{background-position:-980px -544px;}
.emoji1f1f8-1f1fb{background-position:-1008px -544px;}
.emoji1f1ec-1f1f6{background-position:-1036px -544px;}
.emoji1f1ea-1f1f7{background-position:-1064px -544px;}
.emoji1f1ea-1f1ea{background-position:-1092px -544px;}
.emoji1f1ea-1f1f9{background-position:-1120px -544px;}
.emoji1f1ea-1f1fa{background-position:-1148px -544px;}
.emoji1f1eb-1f1f0{background-position:-1176px -544px;}
.emoji1f1eb-1f1f4{background-position:-1204px -544px;}
.emoji1f1eb-1f1ef{background-position:-1232px -544px;}
.emoji1f1eb-1f1ee{background-position:-1260px -544px;}
.emoji1f1eb-1f1f7{background-position:-1288px -544px;}
.emoji1f1ec-1f1eb{background-position:-1316px -544px;}
.emoji1f1f5-1f1eb{background-position:-1344px -544px;}
.emoji1f1f9-1f1eb{background-position:-1372px -544px;}
.emoji1f1ec-1f1e6{background-position:-1400px -544px;}
.emoji1f1ec-1f1f2{background-position:-1428px -544px;}
.emoji1f1ec-1f1ea{background-position:-0px -576px;}
.emoji1f1e9-1f1ea{background-position:-28px -576px;}
.emoji1f1ec-1f1ed{background-position:-56px -576px;}
.emoji1f1ec-1f1ee{background-position:-84px -576px;}
.emoji1f1ec-1f1f7{background-position:-112px -576px;}
.emoji1f1ec-1f1f1{background-position:-140px -576px;}
.emoji1f1ec-1f1e9{background-position:-168px -576px;}
.emoji1f1ec-1f1f5{background-position:-196px -576px;}
.emoji1f1ec-1f1fa{background-position:-224px -576px;}
.emoji1f1ec-1f1f9{background-position:-252px -576px;}
.emoji1f1ec-1f1ec{background-position:-280px -576px;}
.emoji1f1ec-1f1f3{background-position:-308px -576px;}
.emoji1f1ec-1f1fc{background-position:-336px -576px;}
.emoji1f1ec-1f1fe{background-position:-364px -576px;}
.emoji1f1ed-1f1f9{background-position:-392px -576px;}
.emoji1f1ed-1f1f3{background-position:-420px -576px;}
.emoji1f1ed-1f1f0{background-position:-448px -576px;}
.emoji1f1ed-1f1fa{background-position:-476px -576px;}
.emoji1f1ee-1f1f8{background-position:-504px -576px;}
.emoji1f1ee-1f1f3{background-position:-532px -576px;}
.emoji1f1ee-1f1e9{background-position:-560px -576px;}
.emoji1f1ee-1f1f7{background-position:-588px -576px;}
.emoji1f1ee-1f1f6{background-position:-616px -576px;}
.emoji1f1ee-1f1ea{background-position:-644px -576px;}
.emoji1f1ee-1f1f2{background-position:-672px -576px;}
.emoji1f1ee-1f1f1{background-position:-700px -576px;}
.emoji1f1ee-1f1f9{background-position:-728px -576px;}
.emoji1f1ef-1f1f2{background-position:-756px -576px;}
.emoji1f1ef-1f1f5{background-position:-784px -576px;}
.emoji1f38c{background-position:-812px -576px;}
.emoji1f1ef-1f1ea{background-position:-840px -576px;}
.emoji1f1ef-1f1f4{background-position:-868px -576px;}
.emoji1f1f0-1f1ff{background-position:-896px -576px;}
.emoji1f1f0-1f1ea{background-position:-924px -576px;}
.emoji1f1f0-1f1ee{background-position:-952px -576px;}
.emoji1f1fd-1f1f0{background-position:-980px -576px;}
.emoji1f1f0-1f1fc{background-position:-1008px -576px;}
.emoji1f1f0-1f1ec{background-position:-1036px -576px;}
.emoji1f1f1-1f1e6{background-position:-1064px -576px;}
.emoji1f1f1-1f1fb{background-position:-1092px -576px;}
.emoji1f1f1-1f1e7{background-position:-1120px -576px;}
.emoji1f1f1-1f1f8{background-position:-1148px -576px;}
.emoji1f1f1-1f1f7{background-position:-1176px -576px;}
.emoji1f1f1-1f1fe{background-position:-1204px -576px;}
.emoji1f1f1-1f1ee{background-position:-1232px -576px;}
.emoji1f1f1-1f1f9{background-position:-1260px -576px;}
.emoji1f1f1-1f1fa{background-position:-1288px -576px;}
.emoji1f1f2-1f1f4{background-position:-1316px -576px;}
.emoji1f1f2-1f1f0{background-position:-1344px -576px;}
.emoji1f1f2-1f1ec{background-position:-1372px -576px;}
.emoji1f1f2-1f1fc{background-position:-1400px -576px;}
.emoji1f1f2-1f1fe{background-position:-1428px -576px;}
.emoji1f1f2-1f1fb{background-position:-0px -608px;}
.emoji1f1f2-1f1f1{background-position:-28px -608px;}
.emoji1f1f2-1f1f9{background-position:-56px -608px;}
.emoji1f1f2-1f1ed{background-position:-84px -608px;}
.emoji1f1f2-1f1f6{background-position:-112px -608px;}
.emoji1f1f2-1f1f7{background-position:-140px -608px;}
.emoji1f1f2-1f1fa{background-position:-168px -608px;}
.emoji1f1fe-1f1f9{background-position:-196px -608px;}
.emoji1f1f2-1f1fd{background-position:-224px -608px;}
.emoji1f1eb-1f1f2{background-position:-252px -608px;}
.emoji1f1f2-1f1e9{background-position:-280px -608px;}
.emoji1f1f2-1f1e8{background-position:-308px -608px;}
.emoji1f1f2-1f1f3{background-position:-336px -608px;}
.emoji1f1f2-1f1ea{background-position:-364px -608px;}
.emoji1f1f2-1f1f8{background-position:-392px -608px;}
.emoji1f1f2-1f1e6{background-position:-420px -608px;}
.emoji1f1f2-1f1ff{background-position:-448px -608px;}
.emoji1f1f2-1f1f2{background-position:-476px -608px;}
.emoji1f1f3-1f1e6{background-position:-504px -608px;}
.emoji1f1f3-1f1f7{background-position:-532px -608px;}
.emoji1f1f3-1f1f5{background-position:-560px -608px;}
.emoji1f1f3-1f1f1{background-position:-588px -608px;}
.emoji1f1f3-1f1e8{background-position:-616px -608px;}
.emoji1f1f3-1f1ff{background-position:-644px -608px;}
.emoji1f1f3-1f1ee{background-position:-672px -608px;}
.emoji1f1f3-1f1ea{background-position:-700px -608px;}
.emoji1f1f3-1f1ec{background-position:-728px -608px;}
.emoji1f1f3-1f1fa{background-position:-756px -608px;}
.emoji1f1f3-1f1eb{background-position:-784px -608px;}
.emoji1f1f2-1f1f5{background-position:-812px -608px;}
.emoji1f1f0-1f1f5{background-position:-840px -608px;}
.emoji1f1f3-1f1f4{background-position:-868px -608px;}
.emoji1f1f4-1f1f2{background-position:-896px -608px;}
.emoji1f1f5-1f1f0{background-position:-924px -608px;}
.emoji1f1f5-1f1fc{background-position:-952px -608px;}
.emoji1f1f5-1f1f8{background-position:-980px -608px;}
.emoji1f1f5-1f1e6{background-position:-1008px -608px;}
.emoji1f1f5-1f1ec{background-position:-1036px -608px;}
.emoji1f1f5-1f1fe{background-position:-1064px -608px;}
.emoji1f1f5-1f1ea{background-position:-1092px -608px;}
.emoji1f1f5-1f1ed{background-position:-1120px -608px;}
.emoji1f1f5-1f1f3{background-position:-1148px -608px;}
.emoji1f1f5-1f1f1{background-position:-1176px -608px;}
.emoji1f1f5-1f1f9{background-position:-1204px -608px;}
.emoji1f1f5-1f1f7{background-position:-1232px -608px;}
.emoji1f1f6-1f1e6{background-position:-1260px -608px;}
.emoji1f1f7-1f1ea{background-position:-1288px -608px;}
.emoji1f1f7-1f1f4{background-position:-1316px -608px;}
.emoji1f1f7-1f1fa{background-position:-1344px -608px;}
.emoji1f1f7-1f1fc{background-position:-1372px -608px;}
.emoji1f1e7-1f1f1{background-position:-1400px -608px;}
.emoji1f1f8-1f1ed{background-position:-1428px -608px;}
.emoji1f1f0-1f1f3{background-position:-0px -640px;}
.emoji1f1f1-1f1e8{background-position:-28px -640px;}
.emoji1f1f5-1f1f2{background-position:-56px -640px;}
.emoji1f1fb-1f1e8{background-position:-84px -640px;}
.emoji1f1fc-1f1f8{background-position:-112px -640px;}
.emoji1f1f8-1f1f2{background-position:-140px -640px;}
.emoji1f1f8-1f1f9{background-position:-168px -640px;}
.emoji1f1f8-1f1e6{background-position:-196px -640px;}
.emoji1f1f8-1f1f3{background-position:-224px -640px;}
.emoji1f1f7-1f1f8{background-position:-252px -640px;}
.emoji1f1f8-1f1e8{background-position:-280px -640px;}
.emoji1f1f8-1f1f1{background-position:-308px -640px;}
.emoji1f1f8-1f1ec{background-position:-336px -640px;}
.emoji1f1f8-1f1fd{background-position:-364px -640px;}
.emoji1f1f8-1f1f0{background-position:-392px -640px;}
.emoji1f1f8-1f1ee{background-position:-420px -640px;}
.emoji1f1f8-1f1e7{background-position:-448px -640px;}
.emoji1f1f8-1f1f4{background-position:-476px -640px;}
.emoji1f1ff-1f1e6{background-position:-504px -640px;}
.emoji1f1ec-1f1f8{background-position:-532px -640px;}
.emoji1f1f0-1f1f7{background-position:-560px -640px;}
.emoji1f1f8-1f1f8{background-position:-588px -640px;}
.emoji1f1ea-1f1f8{background-position:-616px -640px;}
.emoji1f1f1-1f1f0{background-position:-644px -640px;}
.emoji1f1f8-1f1e9{background-position:-672px -640px;}
.emoji1f1f8-1f1f7{background-position:-700px -640px;}
.emoji1f1f8-1f1ff{background-position:-728px -640px;}
.emoji1f1f8-1f1ea{background-position:-756px -640px;}
.emoji1f1e8-1f1ed{background-position:-784px -640px;}
.emoji1f1f8-1f1fe{background-position:-812px -640px;}
.emoji1f1f9-1f1fc{background-position:-840px -640px;}
.emoji1f1f9-1f1ef{background-position:-868px -640px;}
.emoji1f1f9-1f1ff{background-position:-896px -640px;}
.emoji1f1f9-1f1ed{background-position:-924px -640px;}
.emoji1f1f9-1f1f1{background-position:-952px -640px;}
.emoji1f1f9-1f1ec{background-position:-980px -640px;}
.emoji1f1f9-1f1f0{background-position:-1008px -640px;}
.emoji1f1f9-1f1f4{background-position:-1036px -640px;}
.emoji1f1f9-1f1f9{background-position:-1064px -640px;}
.emoji1f1f9-1f1f3{background-position:-1092px -640px;}
.emoji1f1f9-1f1f7{background-position:-1120px -640px;}
.emoji1f1f9-1f1f2{background-position:-1148px -640px;}
.emoji1f1f9-1f1e8{background-position:-1176px -640px;}
.emoji1f1f9-1f1fb{background-position:-1204px -640px;}
.emoji1f1fa-1f1ec{background-position:-1232px -640px;}
.emoji1f1fa-1f1e6{background-position:-1260px -640px;}
.emoji1f1e6-1f1ea{background-position:-1288px -640px;}
.emoji1f1ec-1f1e7{background-position:-1316px -640px;}
.emoji1f1fa-1f1f8{background-position:-1344px -640px;}
.emoji1f1fb-1f1ee{background-position:-1372px -640px;}
.emoji1f1fa-1f1fe{background-position:-1400px -640px;}
.emoji1f1fa-1f1ff{background-position:-1428px -640px;}
.emoji1f1fb-1f1fa{background-position:-0px -672px;}
.emoji1f1fb-1f1e6{background-position:-28px -672px;}
.emoji1f1fb-1f1ea{background-position:-56px -672px;}
.emoji1f1fb-1f1f3{background-position:-84px -672px;}
.emoji1f1fc-1f1eb{background-position:-112px -672px;}
.emoji1f1ea-1f1ed{background-position:-140px -672px;}
.emoji1f1fe-1f1ea{background-position:-168px -672px;}
.emoji1f1ff-1f1f2{background-position:-196px -672px;}
.emoji1f1ff-1f1fc{background-position:-224px -672px;}

